<div class="menu-button l-menu-button cursor-pointer hidden-large-tablet hidden-desktop" id="js-menu-button"></div>
<a href="<%- config.root %>" class="l-main-header-link main-header-link">
  <% if (theme.logo) %> <img src="<%- theme.logo.url %>" alt="<%- theme.logo.text %>" class="logo l-logo">
</a>
<div class="l-header-title-container header-title-container">
  <h1 class="l-header-title header-title"><a href="<%- config.root %>" class="main-header-link"><%= config.title %></a></h1>
</div>
